<div>
    <label>@Label</label>
    <div>
        <InputFile OnChange="OnChange" accept=".jpg,.jpeg,.png" />
    </div>
</div>

<div>
    @if (imagenBase64 != null)
    {
    <div>
        <div class="mt-10">
            <img src="data:image/jpeg;base64, @imagenBase64" class="@CssClass" />
        </div>
    </div>
    }
    @if (ImagenURL != null)
    {
        <div>
            <div class="mt-10">
                <img src="@ImagenURL"  class="@CssClass"/>
            </div>
        </div>
    }
</div>


@code {
    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string ImagenURL { get; set; }
    [Parameter] public string CssClass { get; set; } = "imgBorder50";
    [Parameter] public EventCallback<string> SelectedImage { get; set; }
    private string imagenBase64;

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var imagenes = e.GetMultipleFiles();

        foreach (var imagen in imagenes)
        {
            var arrbytes = new byte[imagen.Size];
            await imagen.OpenReadStream().ReadAsync(arrbytes);
            imagenBase64 = Convert.ToBase64String(arrbytes);
            ImagenURL = null;
            await SelectedImage.InvokeAsync(imagenBase64);
            StateHasChanged();
        }

    }
}